body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerElements{
    display: flex;
    width: 1100px;
    margin-top: 40px;
    flex-direction: row;
}

#containerPlacar{
    display: flex;
    margin-top: 10px;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    flex-direction: row;
}

.boxbutton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #containerView{
    width: 90%;
} */

.View {
    display: flex;
    background-color: #3498db;
    /* width: 950px; */
    width: 90%;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
}

.boxcredit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.developer-credit {
    display: flex;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#score{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    padding: 15px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#bars{
    margin: 20px;
    display: flex;
    background-color: #000000;
    width: 10px;

}

#player1 {
    width: 10px;
    height: 150px;
    background-color: #333;
    position: absolute;
}

#player2 {
    width: 10px;
    height: 150px;
    background-color: #333;
    position: absolute;
}

#ball {
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    position: absolute;
}

.boxtitlegame{
    display: flex;
    align-items: center;
}

#gametitle{
    font-family: 'Arial', sans-serif;
    font-size: 56px;
    font-weight: bold;
    padding: 10px 20px;
    background-color:  #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#startbutton {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    border: none;
}

#startbutton:hover{
    transform: scale(1.1);
}

#restartbutton {
    height: 47px;
    width: 47px;
}

#restartbutton:hover{
    transform: scale(1.1);
}
#modeGameButton:hover{
    transform: scale(1.1);
}

#moreAboutMe:hover{
    transform: scale(1.5);
}
button:hover {
    background-color: #000000;
}

button:active {
    background-color: #000000;
}

#modeGameButton {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: 4px;
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1.5);
    }
}

.scale-up {
    animation: scaleUp 0.5s ease-in-out alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 1s linear infinite;
    /* ou 2s */
}



